.anchor-scroll {
    font-size: 3em !important;
    cursor: pointer;
    display: block;
    transform-origin: left;
    position: absolute;
    color: unset;
    text-decoration: none;
}

.anchor-scroll > a, .anchor-scroll > a:hover, .anchor-scroll > a:visited {
    color: unset;
    text-decoration: none;
}

.anchor-scroll-down {
    bottom: 0%;
    left: 50%;
}

.anchor-scroll-down > a {
    transform: translateX(-50%) rotate(90deg);
    display: block;
}

@media (min-width: 768px) {
    .anchor-scroll-mobile {
        display: none;
    }
}
@media (max-width: 767px) {
    .anchor-scroll-mobile {
        position: absolute;
        bottom: 0;
        top: 125%;
    }
}
